<!--Intro-->
<div id="intro">
  <p class="todo">
    System wird initialisiert
  </p>
  <%= image_tag 'intro_logo.png', alt: 'Logo', class: 'center' %>
  <p class="todo">
    Begrüßung
  </p>
  <h1>Willkommen, Agent.</h1>
  <p>
    <span class="highlight">Wir empfangen aktuell ein Telefonat einer als Terror-gefährdend eingestuften Person. Bitte übernehmen Sie die direkte Überwachung und Beurteilung mittels Ihres aktuellen Hand-Rechners.</span>
  </p>
  <ul>
    <li><a href="#">Überwachung starten</a></li>
  </ul>
</div>
<!--Intro end-->