<!DOCTYPE html>
<html>
<head>
  <title>La Voix Humaine - Server</title>
  <%= stylesheet_link_tag    'viewer', media: 'all' %>
  <%= javascript_include_tag 'viewer' %>
  <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
