<!DOCTYPE html>
<html>
<head>
  <title>La Voix Humaine - Server</title>
  <%= stylesheet_link_tag    'viewer', media: 'all' %>
  <%= javascript_include_tag 'viewer' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
